[Desktop Entry]
Version=1.0
Type=Application
Name=LabStreamGate
GenericName=LabStreamGate
Comment=Controlled TCP-over-WebSocket forwarding tunnel.
Exec=labstreamgate-desktop
TryExec=labstreamgate-desktop
Icon=labstreamgate
Terminal=false
Categories=Network;
StartupWMClass=labstreamgate-desktop
